<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Головна сторінка</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <header>
        <h1>Лабораторна робота №8</h1>
        <h2>Головна сторінка</h2>
        <div class="square"></div>
    </header>

   <nav>
        <ul>
            <li><a href="index.html">Головна</a></li>
            <li><a href="info.html">Інформація</a></li>
            <li><a href="gallery.html">Галерея</a></li>
            <li><a href="form.html">Реєстрація</a></li> </ul>

        <form action="#" method="post">
            <input type="text" placeholder="Логін" required>
            <input type="password" placeholder="Пароль" required>
            <input type="submit" value="Увійти">
        </form>
    </nav>

    <main>
        <div style="text-align: center; margin-top: 20px;">
            <img src="images/1.jpg" alt="img1" class="img" style="display:inline-block;">
            <img src="images/1.jpg" alt="img2" class="img" style="display:inline-block;">
            <img src="images/1.jpg" alt="img3" class="img" style="display:inline-block;">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </main>

    <footer>
        <p>Copyright 2025</p>
    </footer>

</body>
</html>