<!DOCTYPE html>
<html lang="uk">
<head>
    <title>Інформація</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <header>
        <h1>Інформаційна сторінка</h1>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Головна</a></li>
            <li><a href="info.html">Інформація</a></li>
            <li><a href="gallery.html">Галерея</a></li>
            <li><a href="#">Контакти</a></li>
        </ul>
    </nav>

    <main>
        <img src="images/1.jpg" class="img right" alt="Right Image">
        <p>Абзац 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullama et leo.</p>

        <img src="images/1.jpg" class="img left" alt="Left Image">
        <p>Абзац 2. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

        <img src="images/1.jpg" class="img right" alt="Right Image">
        <p>Абзац 3. Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

        <img src="images/1.jpg" class="img left" alt="Left Image">
        <p>Абзац 4. Cras ultricies ligula sed magna dictum porta. Curabitur aliquet quam id dui posuere blandit.</p>

        <div style="clear: both;"></div>
    </main>

    <footer>
        <p>Copyright 2025</p>
    </footer>

</body>
</html>